@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Playfair+Display:wght@500&family=Roboto+Slab:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

ul {
  list-style-type: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f30000;
  padding: 10px;
  height: 80px;
  color: #fff;
}

.navbar-logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36px;
  padding: 20px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.navbar-link {
  cursor: pointer;
  padding: 5px;
}

/* Container */
.container {
  padding: 20px;
  justify-content: center;
}

/* Showcase */
.showcase {
  height: 250px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 0px;
  height: 150px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}


.news {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  animation: slideInFromBottom 0.5s ease-in;
}

.newsheading {
  justify-content: space-between;
}

.grid {
  display: flex;
  color: #fff;
  background-color: #f30000;
  justify-content: space-between;
}

.fa-newspaper {
  padding-right: 30px;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}