@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.heading2Xl {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}
  
  .headingXl {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headingLg {
    font-size: 3rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .headingSm {
    font-size: 0.8rem;
    line-height: 1.6;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  @media (max-width: 768px) {
    .list {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      display: flex-column;
      max-width: 700px;
      margin-top: 1rem;
    }

    .headingLg {
      font-size: 2.5rem;
      line-height: 1.4;
      margin: 1rem 0;
    }
    
  }